# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/

# Environment secrets (Crucial for your pgAdmin password)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Operating System Files
.DS_Store
Thumbs.db

# IDE / Code Editor configs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
